<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
 
      <target name="f1" xsi:type="File" fileName="Trace.txt"/>
      <target name="f2" xsi:type="File" fileName="Problems.txt"/>
    <target name="f3" xsi:type="File" fileName="Meta.txt"/>

  </targets>

  <rules>
   <logger name="*NLogEfCommandInterceptor*" levels="Trace" writeTo="f1" />
    <logger name="*NLogEfCommandInterceptor*" levels="Debug,Error,Warn" writeTo="f2" />
    <logger name="*NLogEfCommandInterceptor*" levels="Info" writeTo="f3"/>  
  </rules>
</nlog>